@import url("https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap");
.App {
  text-align: center;
  padding: 10px;
}

h1 {
  font-family: "Bigelow Rules";
  font-size: 4.5rem;
  color: #0cc1e1;
}
